Repository awesome-examples/fizzbuzz, pull requests merged in 2018-11, with the labels that each got.

#62 Add fizzbuzz-with-lambdas example in Ruby / JS
  README.md
  js/fizzbuzz-with-lambdas.js
  ruby/fizzbuzz-with-lambdas.rb
Labels: type: js, type: ruby

#58 Add Rust implementation
  README.md
  rust/fizzbuzz.rs
Labels: type: rust

#60 Add FizzBuzz program in Fortran
  README.md
  fortran/fizzbuzz.f
Labels: type: fortran
