Repository awesome-examples/fizzbuzz, pull requests merged in 2018-10, with the labels that each got.

#12 Create fizzbuzz.sh
  bash/fizzbuzz.sh
Labels: type: batch / shell

#8 Simplified (this *should* also run slightly faster)
  java/fizzbuzz.java
  js/fizzbuzz.js
Labels: type: java, type: js

#24 add fizzbuzzChecker function
  js/fizzbuzzChecker.js
Labels: awaiting review, type: js

#17 Create fizzbuzz.scala
  scala/fizzbuzz.scala
Labels: awaiting review, type: scala

#26 Properly implement fizzbuzz in ruby
  ruby/fizzbuzz.rb
Labels: type: ruby

#6 Create fizzbuzz.c
  C/fizzbuzz.c
Labels: type: c

#9 Added C++ example
  c++/fizzbuzz.cpp
Labels: type: c++

#15 Add java implementation
  java/fizzbuzz.java
Labels: awaiting review, type: java

#14 C# implementation added
  C#/.gitignore
  C#/FizzBuzz.sln
  C#/FizzBuzz/FizzBuzz.csproj
  C#/FizzBuzz/Program.cs
Labels: type: c#

#30 Update fizzbuzz.cpp
  c++/fizzbuzz.cpp
Labels: type: c++

#39 fizzbuzz in lua
  README.md
  lua/fizzbuzz.lua
Labels: awaiting review, type: lua

#32 Add Kotlin fizzbuzz program
  kotlin/fizzbuzz_array.kt
Labels: type: kotlin

#40 Add MIPS Assembly implementation
  mipsassembly/fizzbuzz.s
Labels: awaiting review, type: assembly

#38 Fizzbuzz python using a while loop
  python/fizzbuzz_loops.py
Labels: awaiting review, type: python

#37 Fix Hacktoberfest capitalization in README.md
  README.md
Labels: type: misc

#41 added new fizzbuzz java file w/ newline manipulation
  java/fizzbuzz_newlinemanipulation.java
Labels: type: java

#42 Added a simple example in Go
  README.md
  go/fizzbuzz.go
Labels: type: go

#44 Added Batch
  README.md
  batch/fizzbuzz.bat
Labels: type: batch / shell

#43 Add fizzbuzz implementation in groovy
  README.md
  groovy/fizzbuzz.groovy
Labels: type: groovy

#47 Add FizzBuzz with Switch Statement
  README.md
  js/fizzbuzz_switch.js
Labels: type: js

#45 Added clojure example
  README.md
  clojure/fizzbuzz.clj
Labels: type: clojure

#48 fizzbuzz.js with if
  README.md
  js/fizzbuzz_if_htmlwrite.js
Labels: type: js

#49 Added FizzBuzz for Julia
  README.md
  julia/fizzbuzz.jl
Labels: type: julia

#50 Created fizzbuzz implementation using ugly ternary
  README.md
  js/fizzbuzz-with-ternary-operator-and-element.keys.js
Labels: type: js

#51 fizzbuzz in nim
  README.md
  nim/fizzbuzz.nim
Labels: type: nim

#54 Add swift language
  README.md
  swift/fizzbuzz.swift
Labels: type: swift

#55 SCSS Fizzbuzz
  scss/fizzbuzz.scss
Labels: add2readme, type: scss

#63 added fizzbuzz_checker.js
  README.md
  js/fizzbuzz_function.js
Labels: type: js

#56 adding map functions
  README.md
  js/fizzbuzz_map.js
Labels: type: js

#57 FizzBuzz in elm
  README.md
  elm/elm.json
  elm/src/Main.elm
Labels: add2readme, type: elm
